.NavLogo {
    width: 100px;
    height: 180px;
}

.badgeNoti {
    background-color: var(--secondary-color);

}

nav {
    color: #00315E;
}

.rightSide button ,.dropdown{
    color: var(--primary-color)!important;
}