.sidebar{
    background-color: #00315E;
    padding-top: 20px;
    
}
.sidebar li{
   
    list-style: none;
    padding-bottom: 15px;
    
   
}
.sidebar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}